<h1>To-Do List</h1>
<form method="POST" action="/add">
  <input type="text" name="task" placeholder="Add a task" />
  <button type="submit" class="add-button">Add</button>
</form>
<ul style="list-style: none;">
  <% tasks.forEach((task, index) => { %>
    <li class="task-list-container" style="display: flex;">
      <form action="/update/<%= index %>" method="POST">
        <input 
          type="checkbox" 
          name="done" 
          onchange="this.form.submit()"
          <%= task.done ? 'checked' : '' %>
        />
      </form>      
      <span 
        id="taskText<%= index %>" 
        <%= task.done ? 'class=done' : '' %>
        <!-- <%= task.done ? 'style=text-decoration:line-through' : '' %> -->
      >
        <%= task.name %>  
      </span>
      <form method="POST" action="/delete/<%= index %>" style="display: inline;">
        <button type="submit" class="delete-button">Delete</button>
      </form>
    </li>  
  <%}); %>
</ul>

